.heading{
    color: purple;
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading a{
    color: purple;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.content{
    color: violet;
    text-align: center;
    list-style-position:inside;
}

html{
    background-color: black;
}

.pics{
    border-radius: 50%;
    display: block;  /*centering the image*/
    margin: 0 auto;  /*centering the image*/
}